  /* WebKit and Opera browsers */
  @-webkit-keyframes focus {
    from { -webkit-transform: translateY(-4px);    }
    to   { -webkit-transform: translateY(4px); }
  }
@keyframes focus
  from {
    transform: translateY(-1px)
  }to{
    transform: translateY(1px)
	}

#imag:hover{
    animation: focus 1s infinite alternate;
    -webkit-box-shadow: 2px 2px 25px 7px rgba(0,0,128,0.74);
    -moz-box-shadow: 2px 2px 25px 7px rgba(0,0,128,0.74);
    box-shadow: 2px 2px 25px 7px rgba(0,0,128,0.74);
}

#circles {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
 
    
}

